body
{
   
    padding: 0;
    margin: auto;
    font-family: 'Anton', sans-serif;
    color: 000;
    font-size: 16px;
    overflow-x: hidden;
} 

h1,h2,h3,h4,h5,h6
{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li
{
    display: block;
    padding: 0px;
    margin: 0px;
}
.container
{ 
position: relative;
width: 1166px; 
/* позиционирования по центру */
margin: auto;
align-items: center;
}
/* HEADER */
.header
{
    width: 1600px;
    background: url('../img/header-bg.jpg') no-repeat center top /cover;
    margin: auto;
    padding-top: 57px;
    color: #fff;
    padding-bottom: 322px;
}

header a
{
    color: #FFFFFF;
}
.nav
{
    display: flex;
    align-items: center;
    
}
.menu
{
display: flex;
letter-spacing: 0.1em;
font-family: Anton ;
}

.logo
{
       margin-right: 69px;
}

.menu li a
{
    text-transform: uppercase; 
    text-decoration: none;
    font-size: 24px;
}

.menu li
/* margin создає пустоту в тій стороні в яку вказуєш */
{
    margin-right: 40px;
   
}

.tel
{
    font-size: 17px;
    text-decoration: none;
    margin-left: auto;
    margin-right: 30px;
    text-align: left;
    letter-spacing: 0.1em;

}
.menu-open
{
    background: 0%;
    border: 0px;
}

/* HEADER MAIN */
.header_main
{
    margin-top: 216px;
    margin-bottom: 322;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.not_tne_event
{
margin-top: 216px;
margin-bottom: 0px;
font-size: 30px;
}

.burning_man
{
margin-top: -3px;
padding-bottom: 37px;
font-size: 100px;
line-height: 151px
}

.book_the_tickets
{

display: block;
text-decoration: none;
font-size: 17px;
text-align: center;
letter-spacing: 0.1em;
padding: 17px 23px;
border: 1px solid #fff; 
width: 191px

}
.book_the_tickets:hover
{
    background-color: white;
    color: #000000;
    transition: all 1s ease;
}

/* SECTION ABOUT THE EVENT */

.about_the_event
{
    margin-top:125px ;
    font-size: 50px;
    line-height: 75px;
    text-transform: uppercase;
    color: #000000;

}
.main_information
{
    display: flex;
    margin-top: 74px;
    color: #000000;
    justify-content: space-between;
    
}
.main_information h3
{
    
    margin-right: 300;
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;
}
.main_information p
{   
    width: 564px;
    justify-content: space-between;
    padding-top: 19px;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    
    
}


.images
{
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FOOTER */
.container_footer
{
    display: flex;
    margin-top: 114px;
    margin-bottom: 80px;
    font-family: 'Open Sans';
    
}
.container_footer p
{
    margin-right: 55px;
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: 20px;
    color: #000000; 
}


/* RESPONSIVE STARTS HERE */
@media screen and (max-width: 1400px) {
    .container
    {
        width: 1200px;
    }
    .header
    {
        width: 1200px;
    }
    .nav
    {
        width: 1200px;
    }
    .menu-open
    {
        margin-right: auto;
        text-align: right;
        display: none;
    }
    
}
.header .show-menu
{
    
    position: absolute;
    z-index: 1;
    left: 50px;
    top: 10px;
    display: block;

}

@media screen and (max-width: 1200px) {
    .container
    {
        width: 1140px;
    }
    .header
    {
        width: 1140px;
    }
    .nav
    {
        width: 1140px;
    }
    
}
@media screen and (max-width: 991px) {
    .container
    {
        width: 720px;
    }
    .header
    {
        width: 720px;
    }
    .nav
    {
        width: 720px;
    }
    .main_information 
    {
        display: unset;
    }
    .images
    {
        display: unset;
    }
    .images img:nth-child(1)
    {
        width: 46%;
    }
    .images img:nth-child(2)
    {
        width: 46%;
    }
    .images img:nth-child(3)
    {
        width: 92.5%;
    }
   
    
}
@media screen and (max-width: 767px) {
    .container
    {
        width: 540px;
    }
    .header
    {
        width: 540px;
    }

    .burning_man
    {
        line-height: 1.1em; 
        margin-top: 10px; 
    }
    .menu
    {
        display: none;
    }
    .menu-open
    {
        display: block;
    }
    .images img:nth-child(1)
    {
        width: 90%;
    }
    .images img:nth-child(2)
    {
        width: 90%;
    }
    .images img:nth-child(3)
    {
        width: 90%;
    }

   


    
}
@media screen and (max-width: 575px) {
    .container
    {   
        width: 100%;
        padding: 0 15px;
    }

    .main_information p, .main_information h2
    {
        width: 90%;
        margin: auto;
    }
    .images img:nth-child(1),
    .images img:nth-child(2),
    .images img:nth-child(3)
    {
        width: 90%;
    }
    .vsc-initialized
    {
        margin: auto;
    }
   
}

